#testimonials {
    background-image: url('../images/bg-testimonials.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#testimonials::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: rgb(33,35,61, 0.7)
}

#testimonials .container{
    flex-direction: column;
    gap: 50px;
    text-align: center;
    position: relative;
    z-index: 2;
}

#testimonials img{
    border-radius: 50%;
}

#testimonials p {
    font-size: 42px;
    font-weight: 400;
    font-family: "Montserrat";
}

#testimonials h3{
    font-size: 45px;
    font-weight: 700;
    font-family: "Montserrat";
}